<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworkRequest封装.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD258C241DB9F5CD00746B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD258C3D1DB9F5CD00746B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD258C481DB9F5CD00746B8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
